.grid {
  margin-left: -5px;
  margin-right: -5px;
}

.grid--fill {
  margin-left: -5px;
  margin-right: -5px;
}

.grid__item {
  float: left;
  box-sizing: border-box;
  width: 16.667%;
}

.grid__item--1 {
  width: 8.333%;
}
.grid__item--2 {
  width: 16.677%;
}
.grid__item--3 {
  width: 25%;
}
.grid__item--4 {
  width: 33.333%;
}
.grid__item--5 {
  width: 41.666%;
}
.grid__item--6 {
  width: 50%;
}
.grid__item--7 {
  width: 58.333%;
}
.grid__item--8 {
  width: 66.666%;
}
.grid__item--9 {
  width: 75%;
}
.grid__item--10 {
  width: 83.33%;
}
.grid__item--11 {
  width: 91.666%;
}
.grid__item--12 {
  width: 100%;
}

.has-gutter {
  padding-left: 5px;
  padding-right: 5px;
}
